<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dash</title>
</head>
<body>
    <fieldset>
        <legend>Admin</legend>
        <a href="">Add Employee</a>|<a href="">AllEmpList</a><br>|
        <a href="/logout">Logout</a>
    </fieldset>
</body>
</html>