<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <fieldset>
        <legend>Login</legend>
        <form action="" method="POST">
            <input style="height: 3%;" name="username" type="text" placeholder="Enter Username"><br><br>
            <input style="height: 3%;" name="password" type="password" placeholder="Enter Password"><br><br>
            <input style="height: 3%;" type="Submit" value="Login">
        </form>

    </fieldset>
</body>
</html>